
body{
    font-family: arial;
    color: #333;
    position: relative;
    max-width: 300px;
    text-decoration: none;
    margin-left: 250px;
}

.msg
{
    position: relative;
    top: 140px;   
}
.navbar 
{
    text-decoration:none;
    color:#333;
    
}
.footer
{
    border-top:1px solid;
    position: relative;
    top: 300px;
    color: gray;
    font-weight: 100;
}


