<!DOCTYPE html>

<html>
    <head>
  
   <link rel="stylesheet" href="./about.css">
    </head>
    <body>
    <div class="navbar">{{>navbar}}</div>
    <h2>About Us</h2>
    <img  class="profilepic" src="https://www.cheatsheet.com/wp-content/uploads/2020/07/Dwight-Schrute-1024x683.jpg?x79194">
   <div class="footer"> {{>footer}}</div> 
    </body>
</html>